
		<!-- Footer -->
    <footer>
  		<div class="row">
  			<div class="large-12 columns text-center">
  				<small class="copyright-info">Copyright © <time datetime="2014">2014</time> — Curators of the University of Missouri. All rights reserved. <a href="http://www.missouri.edu/dmca/">DMCA</a> and <a href="http://missouri.edu/statements/copyright.php">other copyright information</a>. <br/>An <a href="http://missouri.edu/statements/eeo-aa.php">equal opportunity/affirmative action</a> institution. Published by <a href="http://universityaffairs.missouri.edu/department/web-communications/">MU Web Communications</a>.</small>
  			</div>
  		</div>
    </footer>
		<!-- /Footer -->
