<!-- Header -->
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <img src="../img/MUPALogo-Transparent300px.png" alt="MUPA logo">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">About Us</a>
        <ul class="dropdown">
          <li><a href="#">What is MUPA?</a></li>
          <li><a href="#">MUPA Board</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">New Postdocs</a>
        <ul class="dropdown">
          <li><a href="#">Join MUPA</a></li>
          <li><a href="http://gradschool.missouri.edu/policies/postdoctoral/">Policies</a></li>
          <li><a href="http://www.muhealth.org/">Healthcare</a></li>
          <li><a href="http://hrs.missouri.edu/">Human Resources</a></li>
        </ul>
      </li>
      <li><a href="#">Events</a></li>
      <li class="has-dropdown">
        <a href="#">News</a>
        <ul class="dropdown">
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Travel Grant Awards</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Funding</a></li>
    </ul>
  </section>
</nav>
<!-- /Header -->
