---
title: University of Missouri Postdoctoral Association
layout: app/html/layouts/default.hbs
---
		<!-- Content -->
		<div class="row">
			<div class="large-7 columns">
				<div class="row">
					<div class="panel member-panel">	
						<h3>If you're a Postdoc at MU...</h3>
						<p>You're a member of the MUPA!</p>
					</div>
					<img class="th" src="../img/jesse-hall.jpg" alt="Jesse Hall">
				</div>
			</div>

			<div class="large-4 columns">

				<h4>Getting Started</h4>
				<p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

				{{>widget}}

			</div>
		</div>
		<!-- Content -->