---
title: University of Missouri Postdoctoral Association
layout: app/html/layouts/default.hbs
---
		<!-- Content -->
		<div class="row">
			<div class="large-7 columns">
				<div class="row">
					<div class="panel member-panel">	
						<h3>If you're a Postdoc at MU...</h3>
						<p>You're a member of the MUPA!</p>
					</div>
					<img class="th" src="../img/jesse-hall.jpg" alt="Jesse Hall">
				</div>
			</div>

			<div class="large-5 columns">
				<div class="panel radius">
					<h4>Upcoming Events</h4>
					<p>Thursday, March 27, 2014</p>
					<p>4:30 - 5:30 PM</p> 
					<p><strong>Grant writing workshop @ Shakespeare’s downtown</strong></p> 
					<p>Speaker: Ed. D. Heather Brown, director of MU office of Grant Writing & Publications</p>
				</div>

			</div>
		</div>
		<!-- Content -->